#pizza{
    background-color: #d2b48c;
    border: #b2946c 5px solid;
    border-radius: 20px;
    width: fit-content;
    margin: auto;
    padding: 20px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

.create-div{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stack-flex-div{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.size-panel{
    display: block;
    border: black 2px solid;
    background-color: #fcedda;
    border-radius: 10px;
    padding: 10px;
    // width: 400px;
    margin: 0;
    height: 20%;
}
.sauce-panel{
    display: block;
    border: black 2px solid;
    border-radius: 10px;
    background-color: #b72f20;
    padding: 10px;
    // width: 400px;
    height: 20%;
}
.default-pizza-panel{
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    background-color:#181846;
    padding: 10px;
    // width: 400px;
    height: 20%;
    color: #fcedda;
}
.deal-panel{
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #181836;
    padding: 10px;
    // width: 400px;
    height: 30%;
}
.topping-panel{
    // margin: 10px;
    display: block;
    background-color: #b72f20;
    border: black 2px solid;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
}

.pizza-image-holder{
    display: block;
    width: 325px;
    height: 525px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    position: relative;
}

.pizza-image{
    display: block;
    // margin: auto;
    // border: blue 2px solid;
    bottom: 0;
    position: absolute;
    &[id="dough"]{
        z-index: 1;
    }
    &[id="sauce"]{
        z-index: 2;
    }
    &[id="cheese"]{
        z-index: 3;
    }
    &[id="topping"]{
        display: none;
        z-index: 4;
    }
}

.order-button{
    background-color:  #181836;
    color: #fcedda;
    border: 3px solid #b72f20;
    border-radius: 8px;
}

h1{
    // visibility: hidden;
    color: #fcedda;
}

h3{
    color: #fcedda;
}
